html{
    color: #eee;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

body,
h1, h2, h3{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    background: #07585f;
    background: linear-gradient(70deg,#360033, #0b8793);
}

.header{
    color: #fff;
    padding: 2.5% 0px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, .5);
}

.navbar{
    width:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .item{
    padding: 10px 3%;
    font-size: .5em;
    text-align: center;
    text-transform: uppercase;
}

.navbar .item:hover{
    background-color: rgba(0, 0, 0, .8);
}

.centered{
    width: 100%;
    text-align: center;
}

.justify{
    text-align: justify;
}

a, a:link, a:visited{
    color: #aaa;
    text-decoration: none;
    transition-duration: .3s;
}

a:hover,
a:active,
b{
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 4px;
    font-size: .25em;
    text-align: left;
    border-bottom: 1px solid #000;
}

.container{
    color: #eee;
    padding: 0px 2%;
}

.box{
    width: 95%;
    margin: 24px auto;
    padding: 2.5%;
    max-width: 1000px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);


    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,1);
}

.box h1{
    font-size: .7em;
}

.box p{
    margin: 4px 0px;
    font-size: .35em;
}

.box .link{
    display: inline-block;
    font-size: .35em;
    margin-top: 8px;
}

.box .button{
    margin-top: 8px;
    display: inline-block;
    padding: 12px;
    background-color: rgba(0, 0, 0, .35);
}

.box .button:hover{
    background-color: rgba(0, 0, 0, .7);
}

footer{
    width: 100%;
    background-color: rgba(6, 6, 6, .7);

    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
}

.footer{
    color: #888;
    padding: 14px 0px;
    font-size: 24px;
}