---
layout: default
---

<div class="centered box">

    <h1><i class="icon-about"></i> About me</h1>

    <p class="justify">
        Hi! My name is <b>Adam Pajkert</b>, over internet also known as <b>pajadam</b>. 
        I'm young developer from <b>Poland</b>. Currently I'm working as freelancer, 
        doing some stuff like websites and web applications. 
    </p>

</div>

<div class="spacer"></div>

<div class="centered box">

    <h1><i class="icon-desktop"></i> My gear</h1>

    {% include parts/gear.html %}

</div>

<div class="spacer"></div>

<div id="links" class="centered box">
    <h1>Useful links</h1>

    <a title="Visit my GitHub account." href="https://github.com/pajadam" class="icon-github link"></a>
    <a title="Visit my YouTube channel." href="https://www.youtube.com/user/ThePajadamPL" class="icon-youtube link"></a>
    {% include parts/email.html %}

</div>