<h1 class="centered header">
	pajadam
</h1>
<nav>
	<div class="navbar">
		<div class="inner">

			<div class="left">
				<a title="Check out my blog." href="https://blog.pajadam.me" class="icon-blog item">
					Blog
				</a>
			</div>

			<div class="center">
				<a title="Look at my YouTube channel." rel="nofollow" href="https://www.youtube.com/user/ThePajadamPL" class="icon-youtube marginless item">
				</a>
				<a title="Take a look at my GitHub." rel="nofollow" href="https://github.com/pajadam" class="icon-github marginless item">
				</a>
				<a title="Feel free to email me, consider using GPG encryption." rel="nofollow" href='mai&#108;to&#58;&#112;aj&#97;dam&#64;li%6E&#37;7&#53;x&#46;p&#37;6C'
				 class="icon-mail marginless item">
				</a>
			</div>

			<div class="right">
				<a title="Take my public GPG key." rel="nofollow" href="/data/dl/gpg.asc" class="icon-gpg item">
					GPG
				</a>
			</div>

		</div>
	</div>
</nav>
