<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
<meta name="robots" content="index, follow">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="https://pajadam.me">

<title>{{ site.title }}</title>

<meta name="DC.Title" content="{{ site.title }}">
<meta name="DC.Creator" content="pajadam.me">
<meta name="DC.Subject" content="{{ site.altname }}">
<meta name="DC.Description" content="{{ site.description }}">
<meta name="DC.Language" content="en">
<meta name="DC.Rights" content="pajadam.me">

<meta property="og:url" content="https://pajadam.me">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">

<script type='application/ld+json'> 
{
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "alternateName": "{{ site.altname }}",
    "url": "https://pajadam.me",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}"
}
</script>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin">
<link rel="stylesheet" type="text/css" href="data/css/main.css">