<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
<meta name="robots" content="index, follow">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.url }}">

<title>{{ site.title }}</title>

<meta name="DC.Title" content="{{ site.title }}">
<meta name="DC.Creator" content="{{ site.author }}">
<meta name="DC.Subject" content="{{ site.altname }}">
<meta name="DC.Description" content="{{ site.description }}">
<meta name="DC.Language" content="en">
<meta name="DC.Rights" content="{{ site.url }}">

<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.altname }} - Developer Website">
<meta property="og:image" content="{{ site.url }}/data/img/0.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<script type='application/ld+json'> 
{
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "alternateName": "{{ site.altname }}",
    "url": "{{ site.url }}",
    "name": "{{ site.title }}",
    "description": "{{ site.description }}"
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics_id }}', 'auto');
  ga('send', 'pageview');

</script>

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin">
<link rel="stylesheet" type="text/css" media="print" href="data/css/print.css">
<link rel="stylesheet" type="text/css" href="data/css/main.css">

<link rel="apple-touch-icon" href="data/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="data/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="data/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="data/favicon/manifest.json">
<link rel="mask-icon" href="data/favicon/safari-pinned-tab.svg">
<meta name="theme-color" content="#ffffff">