<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=0">
<meta name="robots" content="index, follow">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.url }}">

<title>{{ site.title }}</title>

{% include parts/base_metadata.html %}

{% comment %}
	Resource preloading for fonts used in font-face css.
	https://www.keycdn.com/support/preload-directive/
{% endcomment %}

<link rel="preload" href="/data/font/lato-v14-latin-regular.woff2" as="font" crossorigin>
<link rel="preload" href="/data/font/fontello.woff2?93545015" as="font" crossorigin>

<link rel="stylesheet" type="text/css" href="/data/css/main.css">
