<h1 class="centered header">
    pajadam
</h1>
<div class="navbar">
    <a title="Check out my blog."
       href="https://blog.pajadam.me" 
       class="icon-blog item">
        Blog
    </a>
    <a title="Take a look at my GitHub." rel="nofollow"
       href="https://github.com/pajadam" 
       class="icon-github item">
        GitHub
    </a>
    <a title="Look at my YouTube channel." rel="nofollow"
       href="https://www.youtube.com/user/ThePajadamPL" 
       class="icon-youtube item">
        YouTube
    </a>
</div>