html{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
}

body,
h1, h2, h3{
    color: #ddd;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

body{
    min-height: 100vh;
    background: url('../img/0.svg');
    background-size: cover;
}

b{
    color: #eee;
}

.centered{
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
}

.justify{
    text-align: justify;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.spacer{
    margin-top: 2%;
}

a, a:link, a:visited{
    color: #aaa;
    text-shadow: 1px 1px 4px rgba(0,0,0,1);
    text-transform: capitalize;
    text-decoration: none;
    transition-duration: .3s;
}

a:hover{
    color: #fff;
}

a:active{
    color: #ccc;
}

.reset{
    clear:both;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
    font-size: .3em;
    text-align: left;
    border-bottom: 1px solid rgba( 0, 0, 0, .5);
}

tr:hover{
    background-color: rgba( 0, 0, 0, .5)!important;
}

tr:nth-child(even){
    background-color: rgba( 0, 0, 0, .25);
}

@media screen and (max-width: 768px) {
    th, td{
        padding: 4px;
        font-size: .25em;
    }
}

@media screen and (min-width: 1280px) {
    .spacer{
        margin-top: 2.5%;
    }
    th, td{
        font-size: .35em;
    }
}
