.container{
    color: #ccc;
    padding: 2%;
}

.box{
    width: 95%;
    padding: 2.5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background-color: rgba( 0, 0, 0, .5);
}

.box h1{
    font-size: 1em;
}

.box h2{
    font-size: .75em;
}

.box h3{
    font-size: .5em;
}

.box p{
    margin: 0px;
    font-size: .5em;
}

.box .link{
    display: inline-block;
    font-size: .9em;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .box h1{
        font-size: .7em;
    }

    .box h2{
        font-size: .5em;
    }

    .box h3{
        font-size: .3em;
    }

    .box p{
        font-size: .4em;
    }

    .box .link{
        font-size: .75em;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        padding: 2.5% 10%;
    }

    .box h1{
        font-size: 1.2em;
    }

    .box h2{
        font-size: 1em;
    }

    .box h3{
        font-size: .8em;
    }

    .box p{
        font-size: .6em;
    }

    .box .link{
        font-size: 1em;
    }
}
