footer{
    background-color: rgba(9, 9, 9, .8);
}

.footer{
    color: #888;
    padding: 1% 0px;
    font-size: .6em;
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 2% 0px;
        font-size: .4em;
    }
}