footer{
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: rgba(9, 9, 9, .8);
}

.footer{
    color: #888;
    padding: 14px 0px;
    font-size: 28px;
}

.footer-spacing{
    padding: 14px 0px;
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 9px 0px;
        font-size: 19px;
    }

    .footer-spacing{
        padding: 9px 0px;
        margin-top: 23px;
    }
}