header{
    display: flex;
    background: url(/img/0.svg);
    background-size: cover; 
}

.header{
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
    font-size: 2em;
}

@media screen and (max-width: 768px) {
    .header{
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 1em;
    }
}