header{
    background: url(/data/img/0.svg);
    background-size: cover; 
}

.header{
    padding: 2.5% 0%;
    color: #fff;
    font-size: 2em;
}

.navbar{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: rgba( 0, 0, 0, .5);
}

.navbar .item{
    transition-duration: .5s;
    padding: 1% 2%;
    font-size: .7em;
    text-align: center;
    text-transform: uppercase;
}

.navbar .item:before{
    margin-left: 0px;
}

.navbar .item:hover{
    background-color: rgba( 0, 0, 0, .8);
}

@media screen and (max-width: 768px) {
    .header{
        padding: 8% 0%;
        font-size: 1em;
    }

    .navbar .item{
        font-size: .5em;
    }
}

@media screen and (min-width: 1280px) {
    .header{
        font-size: 2.5em;
        padding: 2% 0%;
    }

    .navbar .item{
        font-size: .8em;
        width: 275px;
    }
}
