---
---
@charset "utf-8";

$max-width: 1050px;

$mobile-width: 768px;
$huge-width: 1280px;

@import "font";
@import "base";
@import "background";
@import "header";
@import "content";
@import "footer";
@import "print";