<meta name="DC.Title" content="{{ site.title }}">
<meta name="DC.Creator" content="{{ site.author }}">
<meta name="DC.Subject" content="{{ site.altname }}">
<meta name="DC.Description" content="{{ site.description }}">
<meta name="DC.Language" content="en">
<meta name="DC.Rights" content="{{ site.url }}">

<meta property="og:url" content="{{ site.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.altname }} - Developer Website">
<meta property="og:image" content="{{ site.url }}/data/img/0.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<script type='application/ld+json'>
	{
		"@context": "http://www.schema.org",
		"@type": "WebSite",
		"alternateName": "{{ site.altname }}",
		"url": "{{ site.url }}",
		"name": "{{ site.title }}",
		"description": "{{ site.description }}"
	}

</script>

<link rel="apple-touch-icon" sizes="180x180" href="/data/favicon/apple-touch-icon.png?v=7kok9BQzpN">
<link rel="icon" type="image/png" sizes="32x32" href="/data/favicon/favicon-32x32.png?v=7kok9BQzpN">
<link rel="icon" type="image/png" sizes="16x16" href="/data/favicon/favicon-16x16.png?v=7kok9BQzpN">
<link rel="manifest" href="/data/favicon/site.webmanifest?v=7kok9BQzpN">
<link rel="mask-icon" href="/data/favicon/safari-pinned-tab.svg?v=7kok9BQzpN" color="#3e4e77">
<link rel="shortcut icon" href="/data/favicon/favicon.ico?v=7kok9BQzpN">
<meta name="msapplication-TileColor" content="#3e4e77">
<meta name="msapplication-config" content="/data/favicon/browserconfig.xml?v=7kok9BQzpN">
<meta name="theme-color" content="#3e4e77">
