<table>
    <tr>
        <th>Computer</td>
        <td></td>
    </tr>
    <tr>
        <td>MOBO</td>
        <td>ASUS H61M-K</td>
    </tr>
    <tr>
        <td>CPU</td>
        <td>Intel Celeron G1620</td>
    </tr>
    <tr>
        <td>RAM</td>
        <td>GoodRAM 2GB and Team Group Vulcan 4GB</td>
    </tr>
    <tr>
        <td>HDD</td>
        <td>WDC 250GB</td>
    </tr>
    <tr>
        <td>SSD</td>
        <td>GoodRAM CX200 120GB</td>
    </tr>
    <tr>
        <td>PSU</td>
        <td>Be Quiet! System Power 8 400W</td>
    </tr>
    <tr>
        <td>CD/DVD</td>
        <td>LiteON iHAS 122</td>
    </tr>
    <tr>
        <td>CASE</td>
        <td>Zalman Z3 USB 3.0</td>
    </tr>
    <tr>
        <th>Peripherals</td>
        <td></td>
    </tr>
    <tr>
        <td>Mouse</td>
        <td>
            Roccat Lua<br> A4Tech X7 mousepad
        </td>
    </tr>
    <tr>
        <td>Keyboard</td>
        <td>Logitech k280e</td>
    </tr>
    <tr>
        <td>Monitors</td>
        <td>
            Samsung SyncMaster P2270HD 1080p <br> iiyama ProLite X2483HSU 1080p
        </td>
    </tr>
    <tr>
        <td>Headphones</td>
        <td>Creative Fatal1ty</td>
    </tr>
</table>